<form class="inset">
    <label class="block-label">{{titleText}}</label>
    <input type="text" name="organization" class="input-text" id="name">
    <label class="block-label">Organization</label>
    <textarea rows="3" cols="50" name="description" class="input-text" id="description" style="height:100%;"></textarea>
    <label class="block-label">Description (include potential times to meet)</label>
    <input type="text" name="location" class="input-text" id="location">
    <label class="block-label">Location</label>

    <button type="button" class="btn btn-block" id="submit">Submit</button>
</form>