<li class="list-item-multi-line">
    <input type="text" placeholder="Input New Calendar Name" class="input-text" id="newCalName">
    <div class="form-actions">
        <button class="btn calendarButton" id="newCal">Select</button>
    </div>
</li>