<div class="page">
    <header class="action-bar docs-header">
        <div id="homeDiv">
            {{#if showBack}}
                <a id="navBack" class="app-icon action" data-ignore="true">
                    <i class="icon-up-button"></i>
                    <img src="img/logo.png" height="32px" width="32px"/>
                    <h1 class="title">{{showTitle}}</h1>
                </a>
            {{else}}
                <a id="navHome" class="app-icon action" data-ignore="true">
                    <img src="img/logo.png" height="32px" width="32px"/>
                </a>
            {{/if}}
        </div>

        <div id="showMenu">
            <div class="tab-fixed">
                <ul class="tab-inner">
                    <li><a title="My Events" class="navMyEvents">My Events</a></li>
                    <li><a title="Volunteer" class="navVolunteer">Volunteer</a></li>
                    <li><a title="Donate" class="navDonate">Donate Food</a></li>
                    <li><a title="About" class="navAbout">About Us</a></li>
                </ul>
            </div>
            <ul class="actions pull-right">
                <li class="action-overflow-docs">
                    <a class="action action-overflow-icon toggle-spinner"><i></i></a>
                    <ol reversed="reversed" class="action-overflow-list spinner">
                        <li class="spinner-item"><a class="navMyEvents" title="My Events">My Events</a></li>
                        <li class="spinner-item"><a class="navVolunteer" title="Volunteer">Volunteer</a></li>
                        <li class="spinner-item"><a class="navDonate" title="Donate">Donate Food</a></li>
                        <li class="spinner-item"><a class="navAbout" title="About">About Us</a></li>
                    </ol>
                </li>
            </ul>
        </div>
    </header>

    <div class="content inset">
        <div id="content" style="padding-bottom: 25px">

        </div>
    </div>
</div>

<div class="dialogs">
    <div id="myFilterDialog" class="dialog">
        <header class="dialog-title-region">
            <h1 class="title">Filter Events</h1>
        </header>
        <div class="dialog-content dialog-cancel-button dialog-ok-button">
            <ul class="list">
                <li class="list-item-single-line selectable filterDialog" id="respall">ALL</li>
                <li class="list-item-single-line selectable filterDialog" id="respaccepted">{{getResponse "accepted"}}</li>
                <li class="list-item-single-line selectable filterDialog" id="resptentative">{{getResponse "tentative"}}</li>
                <li class="list-item-single-line selectable filterDialog" id="respdeclined">{{getResponse "declined"}}</li>
            </ul>
        </div>
    </div>
</div>