<div id="eventListView">
    <div id="refreshText">
    {{#if showRefresh}}
        <div class="center-me">{{{refreshText}}}</div>
    {{/if}}
    </div>
    {{{formatTitle title}}}
    <ul class="list inset" id="eventsList">
        <b>Loading...</b>
    </ul>
</div>