<li class="list-item-multi-line">
    <h3>{{event.summary}}</h3>
    <p>{{event.description}}</p>
    <p>From: {{timeString event.start event.recurrence}}</p>
    <p>To: {{timeString event.end event.recurrence}}</p>
    {{#if event.location}}
        <p><a href="{{mapLaunch event.location}}" data-rel="external">{{event.location}}</a></p>
    {{/if}}
    <button class="btn eventButton" id="{{event.id}}">{{buttonText}}</button>
</li>