<li class="list-item-multi-line">
    <div>
        <h3 class="alignleft">{{event.summary}}</h3>
        <h3 class="alignright">{{eventStatus event}}</h3>
    </div>
    <div style="clear:both;">
        <p>{{event.description}}</p>
        <p>From: {{timeString event.start event.recurrence}}</p>
        <p>To: {{timeString event.end event.recurrence}}</p>
        {{#if event.location}}
            <p><a href="{{mapLaunch event.location}}" data-rel="external">{{event.location}}</a></p>
        {{/if}}
        <button class="btn eventButton" id="{{event.id}}">{{buttonText}}</button>
    </div>
</li>