<div id="volunteerView">
    <div id="refreshText">
        {{#if showRefresh}}
        <div class="center-me">{{{refreshText}}}</div>
        {{/if}}
    </div>
    <label class="block-label">Please select a calendar. This calendar will be used solely to coordinate RLC events.</label>
    <ul class="list inset" id="calList">

    </ul>
</div>